[submodule "UnRocker_Firmware"]
	path = UnRocker_Firmware
	url = https://github.com/jinseobjeong/UnRocker_Firmware
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/jinseobjeong/Firmware.git
[submodule "Firmware_clone"]
	path = Firmware_clone
	url = https://github.com/jinseobjeong/Fimware_clone.git
