[submodule "Firmware"]
	path = Firmware
	url = https://github.com/jinseobjeong/Firmware.git
[submodule "Firmware_clone"]
	path = Firmware_clone
	url = https://github.com/jinseobjeong/Firmware_clone.git
[submodule "UnRocker_FW"]
	path = UnRocker_FW
	url = https://github.com/jinseobjeong/UnRocker_FW
