[submodule "Firmware_clone_solo"]
	path = Firmware_clone_solo
	url = https://github.com/jinseobjeong/PX4_Firmware
[submodule "UnRocker_Firmware"]
	path = UnRocker_Firmware
	url = https://github.com/jinseobjeong/UnRocker_Firmware
[submodule "Firmware_clone"]
	path = Firmware_clone
	url = https://github.com/jinseobjeong/Firmware_clone.git
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/jinseobjeong/Firmware.git
